.footer {
  width: 100%;
  padding: 20px 40px;
  background-color: #202027;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  gap: 20px;
}

.footer-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

